In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
from pandas import ExcelWriter
from pandas import ExcelFile

In [12]:

def prntMssngVlus(df):
    for i in df.columns:
         print (df[df[i].isnull()])
    return None

def unqVlusClmns(df):
    for i in df.columns:
        x=len(df[i].value_counts())
        a.append(x)
    b=list(df.columns.values)
    for i in range(len(a)):
        c.append([b[i],a[i]])
    return c

In [2]:
path='https://raw.githubusercontent.com/vikrambj2019/basic/master/Data/'
filename_read=os.path.join(path,"TestdataTableau_v1.xlsx")
df=pd.read_excel(filename_read,sheet_name='rawdata')

In [3]:
df.head()

,Month,Custumer Name,Customer Group,Product,City,Sales_amt,Standard_Cost,Metal_Cost,Taxes,FreightUnrecovered,Metal_weight_CU
0,2/1/2017,* SUMMIT ELECTRIC SUPPLY,Medium,CSt,Sacramento,199.44,93.0974,68.5374,9.234072,4.4096,22.0704
1,2/1/2018,* SPRINGFIELD ELECTRIC SUPPLY,Large,CST,El Monte,767.00,283.5617,151.2411,25.387700,10.4405,48.7026
2,6/1/2017,* NU-LITE ELECTRICAL WHLSRS,little,CST,Salt Lake City,122.25,85.0163,49.3526,4.132050,6.8984,15.8925
3,6/1/2017,* MICK ELECTRIC COMPANY,little,CST,Eugene,569.56,270.6263,163.6132,20.618072,7.1545,52.6867
4,4/1/2017,* FRANKLIN ELECTRIC COMPANY,Medium,CST,San Diego,3217.20,1629.5767,1092.8027,147.991200,-31.4172,351.9040

In [6]:
df['Month']=pd.to_datetime(df['Month'])

In [7]:
df.head()

,Month,Custumer Name,Customer Group,Product,City,Sales_amt,Standard_Cost,Metal_Cost,Taxes,FreightUnrecovered,Metal_weight_CU
0,2017-02-01,* SUMMIT ELECTRIC SUPPLY,Medium,CSt,Sacramento,199.44,93.0974,68.5374,9.234072,4.4096,22.0704
1,2018-02-01,* SPRINGFIELD ELECTRIC SUPPLY,Large,CST,El Monte,767.00,283.5617,151.2411,25.387700,10.4405,48.7026
2,2017-06-01,* NU-LITE ELECTRICAL WHLSRS,little,CST,Salt Lake City,122.25,85.0163,49.3526,4.132050,6.8984,15.8925
3,2017-06-01,* MICK ELECTRIC COMPANY,little,CST,Eugene,569.56,270.6263,163.6132,20.618072,7.1545,52.6867
4,2017-04-01,* FRANKLIN ELECTRIC COMPANY,Medium,CST,San Diego,3217.20,1629.5767,1092.8027,147.991200,-31.4172,351.9040

# Find profitable Customer Group, Product
# Find least profitable city

In [9]:
prntMssngVlus(df)

Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []
Empty DataFrame
Columns: [Month, Custumer Name, Customer Group, Product, City, Sales_amt, Standard_Cost, Metal_Cost, Taxes, FreightUnrecovered, Metal_weight_CU]
Index: []

In [10]:
df.head()

,Month,Custumer Name,Customer Group,Product,City,Sales_amt,Standard_Cost,Metal_Cost,Taxes,FreightUnrecovered,Metal_weight_CU
0,2017-02-01,* SUMMIT ELECTRIC SUPPLY,Medium,CSt,Sacramento,199.44,93.0974,68.5374,9.234072,4.4096,22.0704
1,2018-02-01,* SPRINGFIELD ELECTRIC SUPPLY,Large,CST,El Monte,767.00,283.5617,151.2411,25.387700,10.4405,48.7026
2,2017-06-01,* NU-LITE ELECTRICAL WHLSRS,little,CST,Salt Lake City,122.25,85.0163,49.3526,4.132050,6.8984,15.8925
3,2017-06-01,* MICK ELECTRIC COMPANY,little,CST,Eugene,569.56,270.6263,163.6132,20.618072,7.1545,52.6867
4,2017-04-01,* FRANKLIN ELECTRIC COMPANY,Medium,CST,San Diego,3217.20,1629.5767,1092.8027,147.991200,-31.4172,351.9040

In [11]:
df['Product'].value_counts()

CST    626
RST    166
MST    100
CSt      1
Name: Product, dtype: int64

In [14]:
a=[]
b=[]
c=[]
unqVlusClmns(df)

[['Month', 12],
 ['Custumer Name', 180],
 ['Customer Group', 4],
 ['Product', 4],
 ['City', 191],
 ['Sales_amt', 843],
 ['Standard_Cost', 849],
 ['Metal_Cost', 809],
 ['Taxes', 892],
 ['FreightUnrecovered', 611],
 ['Metal_weight_CU', 747]]

In [15]:
df.loc[df['Product']=='CSt','Product']='CST'

In [16]:
df['Product'].value_counts()

CST    627
RST    166
MST    100
Name: Product, dtype: int64

In [17]:
df['Customer Group'].value_counts()

Large     467
Medium    288
small     136
little      2
Name: Customer Group, dtype: int64

In [18]:
df.loc[df['Customer Group']=='little','Customer Group']='small'

In [19]:
df['Customer Group'].value_counts()

Large     467
Medium    288
small     138
Name: Customer Group, dtype: int64

In [20]:
df.loc[df['Customer Group']=='small','Customer Group']='Small'

In [22]:
df['Customer Group'].value_counts()

Large     467
Medium    288
Small     138
Name: Customer Group, dtype: int64

In [23]:
df['Margin']=df['Sales_amt']-df['Standard_Cost']-df['Metal_Cost']-df['Taxes']-df['FreightUnrecovered']

In [24]:
df.head()

,Month,Custumer Name,Customer Group,Product,City,Sales_amt,Standard_Cost,Metal_Cost,Taxes,FreightUnrecovered,Metal_weight_CU,Margin
0,2017-02-01,* SUMMIT ELECTRIC SUPPLY,Medium,CST,Sacramento,199.44,93.0974,68.5374,9.234072,4.4096,22.0704,24.161528
1,2018-02-01,* SPRINGFIELD ELECTRIC SUPPLY,Large,CST,El Monte,767.00,283.5617,151.2411,25.387700,10.4405,48.7026,296.369000
2,2017-06-01,* NU-LITE ELECTRICAL WHLSRS,Small,CST,Salt Lake City,122.25,85.0163,49.3526,4.132050,6.8984,15.8925,-23.149350
3,2017-06-01,* MICK ELECTRIC COMPANY,Small,CST,Eugene,569.56,270.6263,163.6132,20.618072,7.1545,52.6867,107.547928
4,2017-04-01,* FRANKLIN ELECTRIC COMPANY,Medium,CST,San Diego,3217.20,1629.5767,1092.8027,147.991200,-31.4172,351.9040,378.246600

In [27]:
df.groupby(['City'])['Margin'].sum().head()

City
 Abilene        3650.375603
 Akron           218.204530
 Albuquerque     257.877642
 Alexandria     9236.634858
 Amarillo         33.132870
Name: Margin, dtype: float64

In [28]:
df.groupby(['City'])['Margin'].sum().tail()

City
 Washington       6405.881370
 Wichita           778.866168
 Winston-Salem     199.278840
 Worcester         868.709080
 Yonkers          2242.218362
Name: Margin, dtype: float64

In [29]:
def gtTpVlus(df,measure,column,top):
    return df[measure].groupby(df[column]).sum().nlargest(top)
def gtBtVlus(df,measure,column,top):
    return df[measure].groupby(df[column]).sum().nsmallest(top)

In [32]:
measure='Margin'
column='City'
gtTpVlus(df,measure,column,1)

City
 Colorado Springs    42818.517164
Name: Margin, dtype: float64

In [33]:
gtBtVlus(df,measure,column,1)

City
 Eugene   -43396.349708
Name: Margin, dtype: float64

In [34]:
measure='Margin'
column='Customer Group'
gtTpVlus(df,measure,column,1)

Customer Group
Large    210530.877861
Name: Margin, dtype: float64

In [35]:
measure='Margin'
column='Product'
gtTpVlus(df,measure,column,1)

Product
RST    116169.407139
Name: Margin, dtype: float64

In [36]:
measure='Margin'
column='City'
gtBtVlus(df,measure,column,1)

City
 Eugene   -43396.349708
Name: Margin, dtype: float64